<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">
      404'd! <br> Great Googly Moogly! It appears you've not found anything you weren't sure that you always wanted to find.
      <center><img src="/img/octolady.png"></center>
    </h1>
    <a href="/">← Back To Home</a>
  </div>
</div>
