<main role="main"> 
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header h3 font-weight-bold">What is the Exquisite Corpse?</div>
                        <div class="card-body ">
                            <p>Exquisite corpse, also known as exquisite cadaver (from the original French term cadavre exquis), is a method by which a story is collectively assembled. Each collaborator adds to a composition in sequence, by being allowed to see only the end of what the previous person contributed.</p>
                            <p>On this site, each story element is limited to 500 characters.  The contributor is only given the last paragraph of the story as a prompt.  While the entire living story can be viewed from the main page, the best option is write your contribution based only on the last element provided.</p>
                            <p>For more information on this techniques, and other surrealist games/methods/techniques check out the following sources:</p>
                            <ul>
                                <li><a href="#">Exquisite corpse - Wikipedia</a></li>
                            </ul>
                            <center><img src="./img/octolady.png"></center>
                        </div>
                        <div class="card-footer text-center">
                            <ul class="nodots">
                            <li><button class="btn btn-outline-success my-2 my-sm-0" type="submit">New Story</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>