<main role="main">
    <div class="container">
        <div id="ec-main" class="row">
            <div class="col-12">
                <div id="info-card" class="card">
                </div>
            </div>
            <div class="col"><div style="height:30px"></div></div>
            <div class="col-12">
                <div id="editor-card" class="card">
                    <div class="card-header text-center h3">Editor</div>
                    <div class="card-body">
                        <div id="full-toolbar"></div>
                        <div id="full-editor" style="height: 25%"></div>
                        {{!-- <div id="editor"></div> --}}
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to Corpse</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript">
    var sId;
    var nS;
    urlParams = getAllUrlParams(window.location.href)
    console.log("urlParams",urlParams);
    if (urlParams.id) {
        sId = urlParams.id;
    } else {
        sId = 1;
    };
     if (urlParams.newstory) {
        nS = true;
    } else {
        nS = false;
    };

    
    
    
    mockResponse = { 
    oneStory: 
    { id: 1,
                story_name: 'Main Story',
                createdAt: '9999-12-31T23:59:59.000Z',
                updatedAt: '9999-12-31T23:59:59.000Z' },
    allStories:
    [ { id: 1,
                story_name: 'Main Story',
                createdAt: '9999-12-31T23:59:59.000Z',
                updatedAt: '9999-12-31T23:59:59.000Z' },
    { id: 2,
                story_name: 'Story Two',
                createdAt: '9999-12-31T23:59:59.000Z',
                updatedAt: '9999-12-31T23:59:59.000Z' } ],
    elements:
   [ { id: 1,
       body:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Gravida in fermentum et sollicitudin ac. Semper auctor neque vitae tempus. Risus ultricies tristique nulla aliquet enim tortor at. Bibendum arcu vitae elementum curabitur vitae nunc sed velit. Senectus et netus et malesuada fames.',
       createdAt: '9999-12-31T23:59:59.000Z',
       updatedAt: '9999-12-31T23:59:59.000Z',
       user_id: 2,
       story_id: 1 },
     { id: 2,
       body:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Gravida in fermentum et sollicitudin ac. Semper auctor neque vitae tempus. Risus ultricies tristique nulla aliquet enim tortor at. Bibendum arcu vitae elementum curabitur vitae nunc sed velit. Senectus et netus et malesuada fames.',
       createdAt: '9999-12-31T23:59:59.000Z',
       updatedAt: '9999-12-31T23:59:59.000Z',
       user_id: 2,
       story_id: 1 },
     { id: 3,
       body:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Gravida in fermentum et sollicitudin ac. Semper auctor neque vitae tempus. Risus ultricies tristique nulla aliquet enim tortor at. Bibendum arcu vitae elementum curabitur vitae nunc sed velit. Senectus et netus et malesuada fames.',
       createdAt: '9999-12-31T23:59:59.000Z',
       updatedAt: '9999-12-31T23:59:59.000Z',
       user_id: 2,
       story_id: 1 },
     { id: 4,
       body:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Gravida in fermentum et sollicitudin ac. Semper auctor neque vitae tempus. Risus ultricies tristique nulla aliquet enim tortor at. Bibendum arcu vitae elementum curabitur vitae nunc sed velit. Senectus et netus et malesuada fames.',
       createdAt: '9999-12-31T23:59:59.000Z',
       updatedAt: '9999-12-31T23:59:59.000Z',
       user_id: 2,
       story_id: 1 },
     { id: 5,
       body:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Gravida in fermentum et sollicitudin ac. Semper auctor neque vitae tempus. Risus ultricies tristique nulla aliquet enim tortor at. Bibendum arcu vitae elementum curabitur vitae nunc sed velit. Senectus et netus et malesuada fames.',
       createdAt: '9999-12-31T23:59:59.000Z',
       updatedAt: '9999-12-31T23:59:59.000Z',
       user_id: 2,
       story_id: 1 },
     { id: 6,
       body:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Gravida in fermentum et sollicitudin ac. Semper auctor neque vitae tempus. Risus ultricies tristique nulla aliquet enim tortor at. Bibendum arcu vitae elementum curabitur vitae nunc sed velit. Senectus et netus et malesuada fames.',
       createdAt: '9999-12-31T23:59:59.000Z',
       updatedAt: '9999-12-31T23:59:59.000Z',
       user_id: 2,
       story_id: 1 },
     { id: 7,
       body:
        'In hac habitasse platea dictumst. Quisque tempor magna vitae justo semper molestie. Cras tincidunt augue nec lectus finibus, sollicitudin luctus neque sagittis. Cras fringilla magna id nisl fringilla venenatis. Ut condimentum nulla in tellus vehicula vehicula. Phasellus condimentum maximus aliquam. Vivamus gravida turpis ligula, vel tristique odio lobortis ut. Curabitur est turpis, efficitur et gravida eget, consequat nec massa. Maecenas quam dui, mattis sit amet neque quis, consectetur feugiat massa.',
       createdAt: '9999-12-31T23:59:59.000Z',
       updatedAt: '9999-12-31T23:59:59.000Z',
       user_id: 2,
       story_id: 1 } ] 
    }
    
    displayLastInfoCard(sId, nS);
    var toolbarOptions = [
            ['bold', 'italic']
        ];
    var fullEditor = new Quill('#full-editor', {
        modules: {
            // 'authorship': { authorId: 'galadriel', enabled: true },
            // 'multi-cursor': true,
            // 'toolbar': { container: '#full-toolbar' }
            //     'link-tooltip': true
        },
        theme: 'snow'
    });

    function logHtmlContent() {
        console.log(fullEditor.root.innerHTML);
    }

    function displayLastInfoCard(curStoryId, newStory) {
      var queryURL = "http://localhost:3000/api/ecorpse/" + curStoryId;
      // Creating an AJAX call for the specific movie button being clicked
      $.ajax({
        url: queryURL,
        method: "GET"
      }).then(function(response) {
        // Pupulate Story name
        if (newStory) {
          var storyName = $("<div>");
              storyName.addClass("card-header h3 text-center font-weight-bold");
              storyName.attr("id","story-name");
          var storyNameInputRow = $("<div>");
              storyNameInputRow.addClass("form-row");
          var storyNameInput = $("<input>");
              storyNameInput.addClass("form-control text-center");
              storyNameInput.attr("type","text");
              storyNameInput.attr("id","new-story-name");
              storyNameInput.attr("placeholder","New Story Name");
          storyNameInput.appendTo(storyNameInputRow);
          storyNameInputRow.appendTo(storyName);
          storyName.appendTo("#info-card");
          console.log("storyName",storyName);
        } else {
        var storyName = $("<div>");
            storyName.addClass("card-header h3 text-center font-weight-bold");
            storyName.attr("id","story-name");
            storyName.html(response.oneStory.story_name);
            storyName.appendTo("#info-card");
        var lastElem = $("<div>");
            lastElem.addClass("card-body h4");
            lastElem.attr("id","last-paragraph");
        var elemP = $("<p>");
            for (i = 0; i < response.elements.length; i++) {
              if (response.elements.length == (i+1)) {
                elemP.html(response.elements[i].body);
              }
            elemP.appendTo(lastElem);
            };
            lastElem.appendTo("#info-card");
        }
      });
    }

function getAllUrlParams(url) {

  // get query string from url (optional) or window
  var queryString = url ? url.split('?')[1] : window.location.search.slice(1);

  // we'll store the parameters here
  var obj = {};

  // if query string exists
  if (queryString) {

    // stuff after # is not part of query string, so get rid of it
    queryString = queryString.split('#')[0];

    // split our query string into its component parts
    var arr = queryString.split('&');

    for (var i = 0; i < arr.length; i++) {
      // separate the keys and the values
      var a = arr[i].split('=');

      // set parameter name and value (use 'true' if empty)
      var paramName = a[0];
      var paramValue = typeof (a[1]) === 'undefined' ? true : a[1];

      // (optional) keep case consistent
      paramName = paramName.toLowerCase();
      if (typeof paramValue === 'string') paramValue = paramValue.toLowerCase();

      // if the paramName ends with square brackets, e.g. colors[] or colors[2]
      if (paramName.match(/\[(\d+)?\]$/)) {

        // create key if it doesn't exist
        var key = paramName.replace(/\[(\d+)?\]/, '');
        if (!obj[key]) obj[key] = [];

        // if it's an indexed array e.g. colors[2]
        if (paramName.match(/\[\d+\]$/)) {
          // get the index value and add the entry at the appropriate position
          var index = /\[(\d+)\]/.exec(paramName)[1];
          obj[key][index] = paramValue;
        } else {
          // otherwise add the value to the end of the array
          obj[key].push(paramValue);
        }
      } else {
        // we're dealing with a string
        if (!obj[paramName]) {
          // if it doesn't exist, create property
          obj[paramName] = paramValue;
        } else if (obj[paramName] && typeof obj[paramName] === 'string'){
          // if property does exist and it's a string, convert it to an array
          obj[paramName] = [obj[paramName]];
          obj[paramName].push(paramValue);
        } else {
          // otherwise add the property
          obj[paramName].push(paramValue);
        }
      }
    }
  }

  return obj;
}
    </script>

