<main role="main">
    <div class="container">
        <div id="ec-main" class="row">
            <div class="col-12">
                <div id="info-card" class="card">
                    <div id="story-name" class="card-header h3 text-center font-weight-bold">Story Name</div>
                    <div class="card-body h4" id="last-paragraph"></div>
                </div>
            </div>
            <div class="col"><div style="height:30px"></div></div>
            <div class="col-12">
                <div id="editor-card" class="card">
                    <div class="card-header text-center h3">Editor</div>
                    <div class="card-body">
                        <div id="full-toolbar"></div>
                        <div id="full-editor" style="height: 25%"></div>
                        {{!-- <div id="editor"></div> --}}
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to Corpse</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript">
    mockResponse = { 
    oneStory: 
    { id: 1,
                story_name: 'Main Story',
                createdAt: '9999-12-31T23:59:59.000Z',
                updatedAt: '9999-12-31T23:59:59.000Z' },
    allStories:
    [ { id: 1,
                story_name: 'Main Story',
                createdAt: '9999-12-31T23:59:59.000Z',
                updatedAt: '9999-12-31T23:59:59.000Z' },
    { id: 2,
                story_name: 'Story Two',
                createdAt: '9999-12-31T23:59:59.000Z',
                updatedAt: '9999-12-31T23:59:59.000Z' } ],
    elements:
   [ { id: 1,
       body:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Gravida in fermentum et sollicitudin ac. Semper auctor neque vitae tempus. Risus ultricies tristique nulla aliquet enim tortor at. Bibendum arcu vitae elementum curabitur vitae nunc sed velit. Senectus et netus et malesuada fames.',
       createdAt: '9999-12-31T23:59:59.000Z',
       updatedAt: '9999-12-31T23:59:59.000Z',
       user_id: 2,
       story_id: 1 },
     { id: 2,
       body:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Gravida in fermentum et sollicitudin ac. Semper auctor neque vitae tempus. Risus ultricies tristique nulla aliquet enim tortor at. Bibendum arcu vitae elementum curabitur vitae nunc sed velit. Senectus et netus et malesuada fames.',
       createdAt: '9999-12-31T23:59:59.000Z',
       updatedAt: '9999-12-31T23:59:59.000Z',
       user_id: 2,
       story_id: 1 },
     { id: 3,
       body:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Gravida in fermentum et sollicitudin ac. Semper auctor neque vitae tempus. Risus ultricies tristique nulla aliquet enim tortor at. Bibendum arcu vitae elementum curabitur vitae nunc sed velit. Senectus et netus et malesuada fames.',
       createdAt: '9999-12-31T23:59:59.000Z',
       updatedAt: '9999-12-31T23:59:59.000Z',
       user_id: 2,
       story_id: 1 },
     { id: 4,
       body:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Gravida in fermentum et sollicitudin ac. Semper auctor neque vitae tempus. Risus ultricies tristique nulla aliquet enim tortor at. Bibendum arcu vitae elementum curabitur vitae nunc sed velit. Senectus et netus et malesuada fames.',
       createdAt: '9999-12-31T23:59:59.000Z',
       updatedAt: '9999-12-31T23:59:59.000Z',
       user_id: 2,
       story_id: 1 },
     { id: 5,
       body:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Gravida in fermentum et sollicitudin ac. Semper auctor neque vitae tempus. Risus ultricies tristique nulla aliquet enim tortor at. Bibendum arcu vitae elementum curabitur vitae nunc sed velit. Senectus et netus et malesuada fames.',
       createdAt: '9999-12-31T23:59:59.000Z',
       updatedAt: '9999-12-31T23:59:59.000Z',
       user_id: 2,
       story_id: 1 },
     { id: 6,
       body:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Gravida in fermentum et sollicitudin ac. Semper auctor neque vitae tempus. Risus ultricies tristique nulla aliquet enim tortor at. Bibendum arcu vitae elementum curabitur vitae nunc sed velit. Senectus et netus et malesuada fames.',
       createdAt: '9999-12-31T23:59:59.000Z',
       updatedAt: '9999-12-31T23:59:59.000Z',
       user_id: 2,
       story_id: 1 },
     { id: 7,
       body:
        'In hac habitasse platea dictumst. Quisque tempor magna vitae justo semper molestie. Cras tincidunt augue nec lectus finibus, sollicitudin luctus neque sagittis. Cras fringilla magna id nisl fringilla venenatis. Ut condimentum nulla in tellus vehicula vehicula. Phasellus condimentum maximus aliquam. Vivamus gravida turpis ligula, vel tristique odio lobortis ut. Curabitur est turpis, efficitur et gravida eget, consequat nec massa. Maecenas quam dui, mattis sit amet neque quis, consectetur feugiat massa.',
       createdAt: '9999-12-31T23:59:59.000Z',
       updatedAt: '9999-12-31T23:59:59.000Z',
       user_id: 2,
       story_id: 1 } ] 
    }
    displayLastInfoCard();
    var toolbarOptions = [
            ['bold', 'italic']
        ];
    var fullEditor = new Quill('#full-editor', {
        modules: {
            // 'authorship': { authorId: 'galadriel', enabled: true },
            // 'multi-cursor': true,
            // 'toolbar': { container: '#full-toolbar' }
            //     'link-tooltip': true
        },
        theme: 'snow'
    });

    function logHtmlContent() {
        console.log(fullEditor.root.innerHTML);
    }



    function displayLastInfoCard() {
        var queryURL = "http://localhost:3000";
        // Creating an AJAX call for the specific movie button being clicked
        $.ajax({
          url: queryURL,
          method: "GET"
        }).then(function(response) {
          // Pupulate Story name
          var storyName = $("#story-name");
              storyName.html(mockResponse.oneStory.story_name);
          var lastElement = $("#last-paragraph");
          var elemP = $("<p>");
        for (i = 0; i < mockResponse.elements.length; i++) {
            {{!-- console.log("Loop: " + (i+1) + " Length: " + mockResponse.elements.length + " body: " + mockResponse.elements[i].body); --}}
            if (mockResponse.elements.length == (i+1)) {
                elemP.html(mockResponse.elements[i].body);
            }
        }
            elemP.appendTo(lastElement);
        });

      }
    </script>
